doctype html

head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:700,800' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet')
  title Service Unavailable
  style(type='text/css').
    body { height: 100vh; display: flex; align-items: center; justify-content: center; color: #333; overflow: hidden; }
    #wrapper { display: grid; place-items: center; }
    h1, p { font-family: 'Quattrocento Sans', Arial; font-size: 20px; color: #a0aec0; color: rgba(160,174,192, 1); }
    h1 { font-weight: normal; }
    p  { line-height: 15px; text-transform: uppercase; }
#wrapper
  h1= status
  p Service Unavailable
